{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <h2>New Item</h2>
    <div>
        <form action="#" method="post">
            <label>Item:</label>
            <input type ="text" class="form-control" maxlength="64" name="name">
            <label>Description:</label>
            <input type ="text" class="form-control" maxlength="1024" name="description">
            <label>Image URL:</label>
            <input type ="text" class="form-control" maxlength="256" name="image">
            <label>Image credit:</label>
            <input type ="text" class="form-control" maxlength="512" name="credit">
            <button type="submit" id="submit">Add Item</button>
        </form>
    </div>
{% endblock %}
